<h3>
  People
</h3>
<p>
  For a few of us, teaching Carpentry workshops is part of our job descriptions, but most are volunteers from around campus and the academic Santa Barbara community -
including researchers, post-docs, graduate students, faculty, and staff. Meet the instructors and helpers:
</p>

<a href= "(https://www.library.ucsb.edu/interdisciplinary-research-collaboratory"><strong>Amanda Ho</strong></a> | she/her | Library staff at the Interdisciplinary Research Collaboratory for instructional design and support. <br>
<strong>Ryan Horne</strong> | he/him | Digitial Humanities Research Facilitator by day, chef for three little ones by night.<br>
<a href= "(https://www.library.ucsb.edu/interdisciplinary-research-collaboratory"><strong>Kristi Liu</strong></a> | she/her | A UCSB Geography alum and Library staff member, Kristi spends her free time gluing tiny little GPS units to bees and monitoring regional meteorology<br>
<strong>Amelia Meyer</strong> | she/her | A fourth-year Statistics and Data Science major, German minor working as a sutdent assistant in the collaboratory. <br>
<br>
